* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

.head {
    height: 65px;
    position: fixed;
}

.navbar {
    width: 100%;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Hack', sans-serif;
}

.navbar div.logo {
  margin-left: 20px;
  height: 65px;
  position: absolute;
}

.navbar div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
}

.navbar div.logo a:hover {
  color: #c0c0c0;
}

.navbar div.navlist {
  height: 65px;
  float: right;
  margin-right: 5px;
}

.navbar div.navlist ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.navbar div.navlist ul li {
  width: 120px;
  height: 60x;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar div.navlist ul a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
}

.navbar div.navlist ul li a:hover {
  color: #c0c0c0;
}

.navbar div.navlist ul li:hover {
  background-color: rgba(13, 13, 13, 0.33);
}

.background-container {
  width: 100%;
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center center;
  position: fixed;
  z-index: -1;
}

.body {
  position: relative;
  top: 65px;
}

.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 65px);
}

.greetings h1 {
  font-size: 15vh;
  color: rgb(245, 245, 245, 1);
}

.greetings p {
  font-size: 6vh;
  color: rgb(200, 200, 200, 1);
}
