@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import "https://fonts.cdnfonts.com/css/hack";

:root {
  --bulma-body-family: Hack;
}

.navbar {
  --bulma-navbar-padding-vertical: 0.5rem;
  transition: all .3s ease;
}

.navbar-item.logo {
  --bulma-navbar-item-img-max-height: 75px;
  --bulma-navbar-item-background-l: none;
}

.navbar.hidden {
  transform: translateY(-100%);
}
